@media (min-width: 500px) and (max-width: 700px) {
    p {
        color: coral;
        font-family: 'Courier New', Courier, monospace;
    }
    div .row {
        text-align: left;
    }
}

@media (min-width: 701px) {
    p {
        color: black;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    div .row {
        text-align: center;
    }
}

* {
    box-sizing: border-box;
  }
  
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}